<% provide(:title, 'Current Goals') %>
<p id="notice"><%= notice %></p>

<p>
  <b>Goal:</b>
  <%= @goal.name %>
</p>
<p> Steps taken to reach goal:
<ol >
<% @goal.steps.each do |step| %>
  <li>
     <p><%= step.name %> </p>
  </li>
<% end %>
</ol>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
