<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Achieve your dreams">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/qdk0eau.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
<%= render :partial =>'layouts/header' %>

  
<div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>Daily Quote</h2>
        <p><%= @quote %></p>
        <p><%= @quote_name %></p>
      </div>
    </div>
  </div>
    
    <%= render :partial => 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
